ul {
    list-style-type: none;  /* Removes bullet points */
    padding: 30;  /* Optional: removes default padding */
    margin: 30;  /* Optional: removes default margin */
    display: flex;
}

.nav-button-container{
    display: flex;
    justify-content: space-between;
}

.contact-container{
    padding-inline-end: 40px;
}

a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: medium;
    margin: 15px;
}
